[Unit]
Description=test deamon
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/Action-Recognition/dataDownload/dataact/
ExecStart=bash run.sh
Restart=always

[Install]
WantedBy=multi-user.target